@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
body {
  padding: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  background: #f8f8f8;
  color: #555;
}
h1 {
  font-family: 'Dawning of a New Day', cursive;
  /* font-family: 'Pacifico', cursive; */
  text-align: center;
  color: #ffa3a3;
}
a {
  color: #6d7ae5;
}
.legend {
  margin-top: 20px;
  color: #0a4a4d;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.content {
  
  margin-top: 40px;
  padding: 0 30px;
  color: #707070;
  font-weight: 100;
}
.content .content-line {
  text-align: center;
  border: 0;
  background: inherit;
  font: inherit;
  margin: 0 auto;
  line-height: 160%;
}

.separator-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.dots_image {
  width: 30px;
  height: 5px;
}

.datetime {
  font-size: 28px;
  font-family: 'Poiret One', cursive;
  margin-top: 20px;
  text-align: center;
}
.datetime span {
  display: inline-block;
}
.datetime .time {
  margin-left: 10px;
}
.datetime .time .pm {
  font-size: 20px;
}
.names {
  margin-top: 20px;
  font-size: 17px;
  text-align: center;
}
.names span {
  display: inline-block;
}
.names .name-tag {
  color: #6d7ae5;
}
.names .name-tag.bride {
  color: #6d7ae5;
}
.names .bride {
  margin-left: 80px;
}
.photo {
  margin-top: 50px;
  margin-bottom: 20px;
}
.photos-container {
  margin: 0 auto;
}
.photos-container .photos {
  border-radius: 2px;
  text-align: center;
}
.photos-container .photos img {
  border-radius: 4px;
  display: inline-block;
}
.photos-container .photos .slick-slide:focus,
.photos-container .photos .slick-slide a {
  outline: none;
}
.comment {
  margin-top: 30px;
}
.comment-container {
  margin-top: 14px;
}
.direction {
  margin-top: 50px;
}
.direction-content {
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  line-height: 150%;
}
.direction-content a {
  font-size: 16px;
}
.howto {
  text-align: center;
}
.howto .howto-content-container {
  text-align: left;
  display: inline-block;
}
.howto .howto-content-container .fa {
  color: #0a4a4d;
}

i{
  padding-right: 5px;
}

.howto .howto-content-container .howto-title {
  color: #0a4a4d;
  margin: 20px 0px 10px;
  font-weight: medium;
}
.howto .howto-content-container .howto-content {
  margin: 5px 0 5px;
  line-height: 150%;
}
.map {
  margin: 10px auto 20px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .photos img {
    width: 90%;
  }
  .content {
    font-size: 14px;
  }
  .datetime {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .datetime .date {
    font-size: 26px;
  }
  .datetime .time {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .photos img {
    height: 350px;
  }
  .howto-content-container {
    width: 490px;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
    margin: 0 auto;
  }
  .row {
    padding: 0px;
    margin: 0 auto;
  }
  .navbar-header {
    margin: 0px;
  }
}

.greeting_container {
  /* display: flex;
  justify-content: center; */
}

#greeting_image {
  display: block;
  width: 100%;
  padding: 20px;
  height: auto;
}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{ 
  color: #000;		
}

.snowflake img {
  width: 10px;
  height: 10px;
}